<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Discovery BookStore</title>
    <link rel="shortcut icon" href="../../assets/bookstore.png">
</head>
<body>
    <section class="section-container">
        <div class="background-button" id="content">
            <p>Insira os dados a seguir, para efetuar o cadastro.</p> 
            <form class='Produtos' id='produtos'>
                <label class='form'>                                       
                <input type='text' name='area' id='area' placeholder='área'/>
                <input type='text' name='titulo' id='titulo' placeholder='título'/>
                <input type='text' name='autor' id='autor' placeholder='autor'/>
                <input type='text' name='paginas' id='paginas' placeholder='qtde de páginas'/>
                <input type='text' name='editora' id='editora' placeholder='editora'/>
                </label>
                <div> <select id='meio'>
                    <option value='fisico'>Físico</option>
                    <option value='digital'>Digital</option>
                </select></div>                        
                <input type="submit" class='submitInput'value="Cadastrar"/>
              </form>  
        </div>           
    </section>     
    <footer>
        <p>Todos os direitos reservados ®.</p>
    </footer>
</body>
<script src="../../javascript/scriptProdutos.js"></script>
</html>